<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACOMER</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/images/web/logo.png" />
    
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
   
    <!-- GOOGLE ICON  -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- NAVBAR -->
        <div class="col-12"><%- include('navbarChef') %></div>
      </div>
      <!-- chef -->
      <div class="row profileChef">
        <div class="col-lg-3">
          <div class="oneChef">
            <div class="imgChef">
              <img
                class="card-img w-100"
                src="/images/chefs/<%= resultChef[0].img %>"
                alt=""
              />
            </div>
            <div class="card-info">
              <h5><%= resultChef[0].chef_name %> <%= resultChef[0].last_name %></h5>
              <p><%= resultChef[0].chef_description %></p>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>

            <!-- botones -->
            <div class="botones">
              <a
                href="/dish/form/<%= resultChef[0].chef_id %>"
                class="btn addDish" alt="Añadir plato">
                <span class="material-icons">add</span>
                <span class="material-icons" style="margin-left: -11px;">restaurant</span>
              </a>
                
              <a
                href="/chef/showEditForm/<%= resultChef[0].chef_id %>"
                class="btn edit"
                >
                <span class="material-icons">edit</span>
              </a>
              
              <a
                href="/chef/logicDelete/<%= resultChef[0].chef_id %>"
                class="btn deleteChef"
                >
                <span class="material-icons">person_remove</span>
              </a>
            </div>
            
        </div>

        <div class="col-lg-9">
          <!-- menu filtro -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"><span class="material-icons">checklist</span></button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Filtros</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <!-- checklist filtros -->
            <div class="offcanvas-body">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="resultVegan[0].chef_id" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Plato vegano
                </label>
              </div>
              
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="resultVegetarian[0].chef_id" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Plato vegetariano
                </label>
              </div>

              <button></button>
            </div>
          </div>
          
          <!-- platos del chef -->
          <div class="d-flex flex-wrap ms-5 mt-4">
            <% resultDish.forEach(dish => { %>
              <div class="card m-2" style="width: 18rem">
                <img
                  src="/images/dishes/<%= dish.dish_img %>"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title"><%= dish.dish_name %></h5>
                  <p class="card-text"><%= dish.dish_description %></p>
                  
                  <!-- botones -->
                  <a href="/dish/editDish/<%= dish.dish_id %>" class="btn edit"
                    >
                    <span class="material-icons">edit</span>
                  </a>
                  <a
                    href="/dish/logicDeleteDish/<%= dish.dish_id %>/<%= dish.chef_id %>"
                    class="btn deleteDish"
                    >
                    <span class="material-icons">restaurant</span>
                    <span class="material-icons" style="margin-left: -8px;">remove</span>
                  </a>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
        
      </div>

    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>